[2013-05-22 15:20] herskinduk opened #1 "Documentation of Nuget install unclear"
Readme.md states:

---

[code]

Where <path> is the path to the artifacts\Packages\Sitecore.Ship.x.x.xxxx.nupkg that was produced by the build command

---

This could be misunderstood as meaning:

[code]

Where as this is what is actually meant:

[code]

[2013-05-22 15:47] herskinduk opened #2 "Feature request: Publishing"
Ability to publish deployed changes to specific publishing target.

[2013-06-28 15:09] kevinobee opened #3 "Support for .NET framework 4.5"
Need to provide support for .NET 4.5 so that installer can work with Sitecore 7

[2013-06-30 16:35] kevinobee opened #4 "Missing ability to restrict access by IP address"
Support for a whitelist of IP addresses or address ranges that are allowed to access the service routes provided by Ship would be useful.

[2013-06-30 16:49] leethomascook opened #5 "List of items to publish once package installed."
On some of our sites, where there are master databases of 100's of GB, doing a smart publish of the whole thing is not realistic ( it takes circa 24 hours).

As we are going to be generating our packages dynamically, it is not immediately obvious what you need to publish ( without digging into the file). This is not a problem with Ship obviously, but a general sitecore one.

It would be great, if

[2013-07-01 01:07] leethomascook opened #6 "Record what packages installed"
Been mapping out our potential new workflow with this and a few of the other tools.

One thing that would seem sensible is to be able to record which packages(.zip or .update) have been installed. That way I can keep all my packages in source control and then on deploy, only install ones which have not yet been installed. Otherwise you are in  a situation, where you need to modify your source cont

[2013-07-12 16:07] robingrossart opened #9 "feature request - pass in job definitions"
the ability to 'pass in' Sitecore job definition for execution within a Sitecore context would be nice - even extending that to HTTP post in the assembly where the code is defined!

-robin

[2013-07-21 10:11] kevinobee opened #10 "Service request signatures differ between master and Nancy branches"
The master branch contains an HTTP handler implementation of Sitecore.Ship whilst the Nancy branch is implemented using the NancyFx framework. The service request formats and functionality differ between these two branches.

Consider merging the two branches and implementing two nuget packages:
- Sitecore.Ship (NancyFx implementation)
- Sitecore.Ship.AspNet (HTTP handler implementation)

[2013-07-21 12:46] kevinobee opened #11 "Content Package missing the PackageHistory content item"
The provided Sitecore.Ship content package does not create the `/sitecore/content/PackageHistory` content item. This causes install package commands to fail when recording installation history has been enabled.

[2013-07-21 13:10] kevinobee opened #12 "InstallUploadPackage breaks naming convention for recorded package history"
When a package is installed via a file upload and the installation recorder is enabled a item is saved under Package History that fails to adhere to the required package naming convertions.

For example:

D:\Development\SCC\ship\Build..\tools\curl\curl.exe -i --form "path=@D:\Development\SCC\ship\tests\acceptance-test\01-package.update" http://shiptest//services/package/install/fileupload

Creates

[2013-07-21 16:10] #11 closed, assigned to kevinobee

[2013-07-21 16:11] #4 closed, assigned to kevinobee

[2013-07-21 16:11] #1 closed, assigned to kevinobee

[2013-07-21 16:11] #12 closed, assigned to kevinobee

[2013-07-21 18:04] #5 closed, assigned to nobody

[2013-07-23 10:58] mikeedwards83 opened #13 "Disable index updates when installing packages"
When installing packages can we disable lucene so that it only updates at the end of the install.

[2013-07-30 10:33] kevinobee opened #14 "Files installed by packages not reported in response"
The reporting of what was installed by a package does not identify any files deployed by the package.

[2013-08-05 13:07] mikeedwards83 opened #15 "Add the ability to delete an item"
Add the ability to delete an item via a HTTP request. The URL could have the following format:

/services/database/master/item/delete?path=/sitecore/content/home

[2013-08-15 09:35] #3 closed, assigned to kevinobee

[2013-10-25 07:04] kevinobee opened #16 "Sitecore 7 Net 4.5 Issue"
From Ruud van Falier email:

I have recompiled Ship on .NET 4.5 with the Sitecore 7 binaries, without any build issues.
When I request /services/about I get the about page as expected.

Next up is trying to install a package.
I've placed a package on disk and make a POST request to /services/package/install with parameter path = .....Web.Build.20131023135543.update
(This was tested using Postman)

[2013-10-29 13:06] #16 closed, assigned to nobody

[2013-10-30 07:19] kevinobee opened #17 "Serialization over HTTP"
Add the ability to serialize items, trees or entire databases via a HTTP request and provide a means of reading the serialized items back in te response stream.

Remote serialization or package generation will make it possible to pull content from one environment and then use other ship commands to push the content to other environments.

[2013-11-04 07:46] kevinobee opened #18 "Hook to suspend automatic publishing during a package deploy"
Add a hook to allow code to be called prior to and and after deployment of a package so that automated publishing regimes can be suspended during deployment.

[2013-11-06 06:25] kevinobee opened #19 "Add cache control features"
Provide a means to view and clear Sitecore cache content over HTTP.

[2013-11-06 06:30] #10 closed, assigned to kevinobee

[2013-11-06 06:34] #14 closed, assigned to kevinobee

[2013-11-06 06:35] #13 closed, assigned to kevinobee

[2013-11-25 10:26] kevinobee opened #20 "Log HTTP authorisation rejections"
HttpRequestAuthoriser should log requests that have failed authorisation.

Ideally provide a configuration override to enable/disable logging.

[2014-01-17 09:33] adoprog opened #21 "Executing post-steps from standard .zip packages does not work"
I tried to install some Sitecore modules (Design Importer, etc.) using Sitecore.Ship and it looks like it does not execute them at all.

[2014-03-17 09:25] kevinobee opened #23 "Authentication feature"
Provide a logon/logoff mechanism to mimic the functionality of the Sitecore login page.

[2014-07-17 18:02] steviemcg opened #25 "AboutCommand doesn't set StatusCode, ends up giving Unhandled response when I compile code myself"
When I use the binaries from the NuGet package and run /services/about - I get the version number as expected.

However I needed to change the base URL from /services/ to /sitecore_ship/ so that it wouldn't intercept content pages and CSS / JS assets which had /services/ in the URL (namely uCommerce javascript files)

When I rebuilt Sitecore.Ship.AspNet and put the binaries in my solution, /siteco

[2014-07-22 06:54] #20 closed, assigned to kevinobee

[2014-07-23 06:52] kevinobee opened #26 "Assembly conflicts warning"
Build generates the following warning:

(ResolveAssemblyReferences target) ->
  C:\Windows\Microsoft.NET\Framework\v4.0.30319\Microsoft.Common.targets(1605,5): warning MSB3247: Found conflicts between different versions of the same dependent assembly. [C:\development\ship\sr c\Sitecore.Ship\Sitecore.Ship.csproj]

[2014-08-21 14:05] retohugi opened #27 "Licensing Information Missing"
Hi Kevin

We value your work on Sitecore Ship and use it as part of our build process. But we're not very happy with using unlicensed software. Would you mind adding a license to your project? Github has put up a website just for that: [picking the right licensing](http://choosealicense.com/).
Of course we'd be most happy with a permissive license. And we won't be able to use Ship if it's GPL lice

[2014-11-11 09:52] jimmah opened #30 "UpdateHelper.SaveInstallationMessages removed in Sitecore 7.5"
Hi there,

It looks like Sitecore have removed the `UpdateHelper.SaveInstallationMessages` method in Sitecore 7.5, without marking it obsolete/deprecated. More info here: http://laubplusco.net/updatehelper-saveinstallationmessages-removed-sitecore-7-5/

This causes a `MissingMethodException` to be thrown when installing packages via Ship.

I've forked Ship to comment out the call to this method (i

[2014-12-03 12:53] Kaleeswarab opened #31 "Service Creation in Website Folder"
Hi,

Curl.exe try to access services in service folder in my local sitecore instance(EX : services/package/latestversion). How that service will be created?. Do we need to create that service or it's created by the source code provided for Sitcore.ship.master.If it's created by sitecore.ship.master,while running the .build project,it's showing error in test, so i commented test project in build an

[2014-12-05 21:38] angrymrt opened #32 "Status 500 when calling services/package/install to Sitecore 7.5"
I have a Team City CI setup and I'm trying to use Sitecore.Ship.Aspnet to deploy to a Sitecore 7.5 instance and am getting a HTTP 500 status code back with the following stack trace:
[code]

I have no problems on my Sitecore 6.6 and 7.2 instances. I hope you can help.

With regards,

David van der Hoop

[2014-12-12 16:13] kevinobee opened #33 "Command line build failing for Nancy tests"
Tiny IOC exceptions are being thrown by the unit tests when run from the command line '\build''. The msbuild.log indicates that Newtonsoft.Json 6.0.0.0 cannot be resolved.

Running the tests from within Visual Studio gives no indication of the error and all tests pass.

[2014-12-16 10:47] #33 closed, assigned to kevinobee

[2014-12-16 11:04] #27 closed, assigned to nobody

[2015-02-11 11:23] djanjicek commented on #13
At least in 7.2 I see this in my crawling log files: "Stopping indexing while package is being installed.", although the common log files still indicate that something is being indexes.

[2015-02-11 13:40] pveller commented on #13
Ship will disable indexes (look at `Sitecore.Ship.Infrastructure.Update.UpdatePackageRunner`) if you tell it to via `disableIndexing` param. From looking at the code I believe only the Nancy version will honor it. The pre-Nancy Asp.Net version doesn't seem to notice it. Easy to fix with a simple pull request to @kevinobee which I will probably go ahead and do later today :)

in Asp.Net:

[code]

v

[2015-03-04 11:19] #6 closed

[2015-03-04 11:21] kevinobee commented on #21
Fixed by @mikeedwards83 in commit 59724d9dd6b26ea7a97d7feb9b8d5ebec2a0d4e7 that has recently been merged to master.

[2015-03-04 11:21] #21 closed

[2015-03-04 11:26] kevinobee commented on #30
This was addresses by @pveller in commit 107f8d51621bfd941cd8da96deef44e4f7b6e104 and will be included in the 0.4.0 release package.

[2015-03-04 11:26] #30 closed

[2015-03-13 09:13] moanrose opened #35 "Cannot delete tempfile on package upload (Sitecore 8)"
When uploading a package using the /services/package/install/fileupload endpoint in a version compiled for Sitecore 8, i get the following exception:

Exception Details: System.IO.IOException: The process cannot access the file
'C:\projects\ci\cidevelopment\Website\temp\48ca187f-d7f5-4ad9-adce-02343dd46d53.update' because it is being used by another process.
Source Error:
Line 36:         public v

[2015-03-13 09:26] kevinobee commented on #35
I'll take a look.

-----Original Message-----
From: "moanrose" <notifications@github.com>
Sent: ‎13/‎03/‎2015 09:13
To: "kevinobee/Sitecore.Ship" <Sitecore.Ship@noreply.github.com>
Subject: [Sitecore.Ship] Cannot delete tempfile on package upload (Sitecore 8)(#35)

When uploading a package using the /services/package/install/fileupload endpoint in a version compiled for Sitecore 8, i get the follo

[2015-03-20 16:03] DThrasher opened #36 "Allow Sitecore.Ship to use a different service endpoint"
One of my Sitecore implementations uses the "/services" path on their public-facing website. I'd like a way to configure Sitecore.Ship to use a different endpoint so that it won't conflict with pages my customer might create. For example, "/sitecore-ship".

It looks like the "/services" URL is currently hardcoded in the source.

[2015-03-20 22:41] kevinobee commented on #32
I believe the #30 fix from @pveller has resolved this.

Will close issue now. Feel free to re-open if you still have problems.

[2015-03-20 22:41] #32 closed

[2015-03-20 22:44] kevinobee commented on #36
Completely agree with the usefullness of this feature, so much so that I have a private branch that has this under development. Will give it some more priority now.

[2015-03-21 00:59] DThrasher commented on #36
Awesome, thanks Kevin! I promise to be one of your first testers for this feature.

[2015-03-25 17:16] BobLokerse commented on #35
Is there an estimate when the Sitecore 8 version is going to be  available?

[2015-06-02 09:36] josemanuelroyo opened #38 "If the package installed contains Roles & Users, those are not created after installing a package"
when installing a package which contains Roles & Users through the following method:

/services/package/install

all is installed in the target sitecore instance but the roles & users are not created.

Is there any other sitecore element which is not deployable with sitecore.ship?

[2015-06-23 02:55] DThrasher opened #39 "Nancy.Json.JsonSettings.MaxJsonLength exceeded"
When installing a large package for the Sitecore Master database (this was a multi-site solution) I recieve the following error in the Sitecore logs from Sitecore Ship:

When this error occurs, the items are not installed to the Sitecore instance.

Smaller packages, such as the one I used for the Core database, work just fine.

I think the problem is that the Json string that lists the item Ids th

[2015-06-23 06:57] kevinobee commented on #39
Interesting request, do you fancy having a go at implementing it and sending through a PR?

Another approach is outlined in this post on [MaxJsonLength property with Nancy](http://ouarzy.azurewebsites.net/?p=441). This post documents increasing the max json length that your server can transfer to your client.

    JsonSettings.MaxJsonLength = Int32.MaxValue

[2015-06-24 17:24] DThrasher commented on #39
Ok, I think I've set up my pull request properly. This is the first time I've made a pull request on GitHub, so let me know if I need to do something differently.

I opted to add a "DisableManifest" parameter rather than to simply increase the MaxJsonLength setting, because any limit we apply is an arbitrary one. I figured it'd be cleaner to disable it altogether.

[2015-07-27 16:12] kevinobee commented on #35
@BobLokerse The first [commit](https://github.com/kevinobee/Sitecore.Ship/commit/132b2bcdfab8ebbdf02d2e7ebda136374b673657) towards getting a Sitecore 8.x  compatible Ship is in the [Sitecore 8 Support](https://github.com/kevinobee/Sitecore.Ship/tree/feature/sitecore_8_support) branch.

[2015-08-05 14:03] ernstjoss opened #41 "Version 0.4 release date"
Hi KevinObee
As we work on a migration-prject to sitecore 8 and use ship to install item packages, we would need the changes in the 0.4 version to have a working one.
When do you plan to release version 0.4?
If not in the next few days, could you provide a prerelease nuget package in order we can use ship for sitecore 8?

[2015-08-05 14:40] kevinobee commented on #41
@ernstjoss Currently getting the pre-release tests done on Ship 0.4.0. In the mmeantime there is a pre-release feed for alpha packages on [MyGet](https://www.myget.org/feed/Packages/sitecore-ship-prerelease).

All feedback very welcome.

[2015-08-11 01:55] patrickperrone opened #42 "Include Sitecore.Ship.zip in the generated NuGet package"
Hi Kevin. I'm a big fan of Sitecore.Ship. I've recently written a PowerShell script to install your tool onto a Sitecore instance by downloading the package from a NuGet feed. I'd like to support installing Sitecore.Ship's Sitecore content as well. If you include the .zip package in the tools folder, for example, I can modify my script to install Sitecore.Ship then use Sitecore.Ship to install the

[2015-08-11 14:40] ernstjoss commented on #41
The correct link to the packages on myget is: https://www.myget.org/F/sitecore-ship-prerelease/

[2015-08-11 14:50] kevinobee commented on #41
Thanks for the link correction @ernstjoss, I've updated my comment above to use the correct link.

Have you seen any issues with the pre-release packages?

[2015-08-11 15:03] patrickperrone commented on #41
I've noticed install POSTs sometimes hang on my test site and the only way to resolve is an IISRESET. I built the package for Sitecore.Ship from the development branch.I suspect it might have something to do with NancyFx. Have you tried later versions of Nancy than 0.17.1?

[2015-08-11 15:16] marcduiker commented on #41
I only noticed a 'hanging install' with SC8 update-4 using the default analytics configuration (enabled) while I didn't have Mongo DB's installed. The installation actually succeeded but the POST got a timeout. When I disabled the analytics in Sitecore.Analytics.config the install worked fine.

[2015-08-11 15:21] patrickperrone commented on #41
That's a great point, Marc. My current test site is SC8.4, however, I do have MongoDB installed. I haven't tested with analytics disabled.

[2015-08-11 15:52] kevinobee opened #43 "Support Web API 2.2"
Introduce a ASP.NET Web API implementation of Sitecore.Ship and potentially deprecate the NancyFx and ASP.NET HTTP handler implementations.

[2015-08-12 06:01] ernstjoss commented on #41
@kevinobee: No issues detected so far.
I use SC8 update-4 with MongoDB's available and original SC Configs regarding to Analytics/ContentSearch.
On a Development System even a simultaneously running unicorn-synchronisation (writing out basically everything what was installed by ship) was running without any problems (well, that was not really intended, but worked smooth as well for big item-packag

[2015-08-12 18:52] kevinobee commented on #41
@ernstjoss Great to hear. Which version of Ship are you using, NancyFx or Http Handlers?

[2015-08-12 20:21] ernstjoss commented on #41
@kevinobee We use SItecore.Ship, the one thats get registered and called through Nancy handlers.

[2015-08-12 20:56] kevinobee commented on #41
@ernstjoss any thoughts on #43 ?

[2015-08-18 15:42] sgisbert opened #44 "/services/publish/listofitems gets a 404, when trying to publish a list of items"
Hi!

I'm using your great tool to try to automate Sitecore 7 & 8 deployments, and I'm having a strange issue at the latest step: publishing the installed items is returning a 404 error.
My whole stack is TeamCity + Courier + Ship 0.4.0 (I've cloned your source code).

I have the items package created with Sitecore Courier.
I've created a simple command line tool that has 2 tasks:
- Install the pac

[2015-08-18 15:52] sgisbert commented on #44
Tried also with curl with same results:

curl -H "Content-Type: application/json" -X POST -d "{\"Items\":[{\"itemId\":\"662a3670-2671-414c-97e5-f9b30473cdd7\",\"PublishChildren\":\"false\
"},{\"itemId\":\"a49599a5-1b25-4efe-82aa-fa1af0993919\",\"PublishChildren\":\"false\"},{\"itemId\":\"377cb37e-2b00-417e-bbec-872b4ef9e9a0\",\"PublishChildren\":\"false\"},{\"itemId\":\"9502a1e1-7bdd-4
b3e-a234-a4

[2015-08-18 16:01] kevinobee commented on #44
@sgisbert Just looking at it now with POSTman and seem to be getting the same results as you.

I'll get back to you Sergi as quickly as possible.

[2015-08-18 16:05] sgisbert commented on #44
Thanks Kevin. Awesome news. Looking forward to your results.

[2015-08-18 16:12] kevinobee commented on #44
@sgisbert which NuGet package are you using for Ship?

[2015-08-18 16:14] sgisbert commented on #44
Sitecore.Ship.AspNet.0.4.0.nupkg, the one generated with the build.

[2015-08-18 16:15] kevinobee commented on #44
@sgisbert OK, so that it the HTTP handler version rather than the package based around NancyFx.

I'll focus on that codebase then.

[2015-08-18 16:22] kevinobee opened #45 "Document Sitecore.Ship API on Apiary.io"
Replace the existing Wiki and README API documentation with a site on [Apiary.io](https://apiary.io/).

Apiary in addition to API documentation and examples offers the benefits of a API mocking service to test against.

[2015-08-18 16:26] kevinobee commented on #45
The new documentation will appear here ... [app.apiary.io/sitecoreship](https://app.apiary.io/sitecoreship)

[2015-08-18 17:21] kevinobee commented on #26
No conflicting assemblies in the current build. Have made change to treat compiler warnings as errors in the src projects.

[2015-08-18 17:21] #26 closed

[2015-08-18 17:53] kevinobee commented on #39
Your changes have been merged into both the *develop* and *release/0.4.0* branches.

https://github.com/kevinobee/Sitecore.Ship/commit/ddacb48dd7252ddbfb2e608a0f4b85805376d69f

[2015-08-18 17:53] #39 closed

[2015-08-18 18:06] kevinobee commented on #41
Just uploaded to MyGet feed

Sitecore.Ship.0.4.0.150818.nupkg
Sitecore.Ship.AspNet.0.4.0.150818.nupkg

[2015-08-18 18:09] #41 closed

[2015-08-21 13:35] sgisbert commented on #44
Created a pull request with a potential fix: https://github.com/kevinobee/Sitecore.Ship/pull/46

[2015-08-23 20:18] kevinobee opened #47 "Activator.CreateInstance for Sitecore.Ship against Sitecore 8.0 rev. 141212"
## Replication Procedures:

**tools\curl\curl.exe -v http://ship/services/about**
* Adding handle: conn: 0x20585e0
* Adding handle: send: 0
* Adding handle: recv: 0
* Curl_addHandleToPipeline: length: 1
* - Conn 0 (0x20585e0) send_pipe: 1, recv_pipe: 0
* About to connect() to ship port 80 (#0)
*   Trying 127.0.0.1...
* Connected to ship (127.0.0.1) port 80 (#0)

< HTTP/1.1 **500 Internal Server Er

[2015-08-23 20:19] kevinobee commented on #47
Bug moved to milestone 0.4.0 as it prevents use of Sitecore 8.0+

[2015-08-23 21:04] kevinobee opened #48 "Remove support for IIS classic mode"
Remove any manipulation of the /configuration/system.web/httpModules/ section when installing Sitecore.Ship.

[2015-08-24 00:17] kevinobee commented on #47
Fixed by commit https://github.com/kevinobee/Sitecore.Ship/commit/30795049f6a2cc6b6306e7bb838e0ce7e66f8106

Fix merged into develop and release/0.4.0 branches.

[2015-08-24 00:18] #47 closed

[2015-08-24 00:26] kevinobee opened #49 "Sitecore.Ship package returns incorrect status codes"
tools\curl\curl.exe -i -X POST http://ship/services/publish/listofitems --header "Content-Type: application/x-www-form-urlencoded" --header "Content-Length: 0" -H "Accept:application/json"

Actual:

    HTTP/1.1 202 Accepted

Expected:

    HTTP/1.1 204 No Content

[2015-08-25 09:29] ernstjoss commented on #43
@kevinobee I think this would be a great idea. As we always support some services through Web API in all our Sitecore projects these would not cause any unwanted dependencies to us, and we could get rid of Nancy. However, i would like to see a more flexible configuration possibility than currently as today all ship endpoint are more or less hardcoded.
Also it should be possible to provide differen

[2015-09-13 21:08] kevinobee commented on #45
The API for the SSC / Web API based version of Sitecore.Ship #43 will be fully documented on [docs.sitecoreship.apiary.io](http://docs.sitecoreship.apiary.io/).

No work is planned to document the soon to be deprecated ASP.NET HTTP handler and NancyFx module implementations of Sitecore.Ship. Today, in some places, these implementations had diverged. This is part of the rationale for wanting to imp

[2015-09-13 22:03] kevinobee commented on #35
I'm going to treat this as a bug as the issue is the exception originating out  of the Ship code failing to handle the File.Delete error case appropriately. I will push thin as a fix into the 0.4.0 release.

[2015-12-07 15:37] mmussitsch opened #52 "Using Sitecore.Ship with version 8.1 of sitecore, issue with /services url"
I had to download the source and build my own sitecore ship because of using sitecore 8.1.
Everything was working fine until our content editors renamed an area of our site to be "services".
So now they need the /services url to refer to their content area.  But as you know sitecore ship uses the /services url for fileupload, publishing etc.
They went ahead and removed the entry from the ship.conf

[2015-12-08 16:29] mmussitsch commented on #52
No one has responded yet -- but I need to take a step back.  I did build my own and get Sitecore.Ship via the code to work on 8.0.  Will it work on 8.1?

[2015-12-08 17:22] pveller commented on #52
The only way is via the code. /services is not configurable in Ship but I know Kevin was going to extract it out. Not sure if it got backlogged with the new Web API / SSC plans. If you ask me - it's ok to run your own custom version of it that fits your needs. Ship is infrastructure and it's hard to have one size fits all. I am using a fork too - the PR with token authentication wasn't merged (yet

[2015-12-10 18:54] kevinobee commented on #52
Apologies guys, @pveller was spot on I have been swamped. Must try harder and will get those forked changesets looked at asap.

[2015-12-31 08:46] afengisme opened #53 "White list is invalid for deployment access control ? How to enable secure deployment ?"
Hi,

I installed sitecore.ship version release 0.4.0
Sitecore.Ship-release-0.4.0.zip

After I set the white list in packageInstallation section:

    <Whitelist>
      <add name="local loopback" IP="127.0.0.1" />
      <add name="build server" IP="10.0.1.134" />
    </Whitelist>

I tried to access http://sitecoreship/services/about from 10.0.1.134, it is ok.
And I also accessed this url from a sou

[2016-01-06 07:41] afengisme commented on #53
It is strange.
As Kevin said in https://github.com/kevinobee/Sitecore.Ship/issues/4 :

"
Support for a whitelist of IP addresses or address ranges that are allowed to access the service routes provided by Ship would be useful.
"

Both http://sitecoreship/services/about   and  http://sitecoreship/services/package/install/fileupload  are all the "service" routes , Why the whitelist only works on htt

[2016-01-12 07:43] afengisme commented on #53
@pveller ,  As you told in https://github.com/kevinobee/Sitecore.Ship/issues/52 , Kevin will merge token authentication feature to release branch.  I have to wait for this feature in next release to expose my ship out.

[2016-01-13 15:16] DThrasher commented on #43
@kevinobee @ernstjoss Moving to Web.API would also potentially solve issue #36. We could create a configuration file for each of the routes we need. See http://arcware.net/using-configuration-to-define-web-api-routes/

Is this worth a development spike?

[2016-01-14 19:45] peelybird commented on #52
Hi All.

Just a note to say we had a similar issue. Last time I checked we were playing with more specific, multiple, nancy httphandler paths. TBH I have to check what fixed it for us in the end but when I'm in the office next week I'll ping the result here. Might help someone!

David

[2016-01-14 20:00] peelybird commented on #52
Ok so as it turns out, that *was* the answer. We replaced:
`<add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="/services/*" />`
in the `<system.webserver><handlers>` section with a specific entry for each required method:
`<add name="NancyPublish" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="/services/publish/*" />
      <add name="NancyPacka

[2016-01-14 21:15] mmussitsch opened #54 "install of TDS pkg did not seem to update new language fallback value"
I'm sorry if this is too specific or more of a support issue, but I just want to make sure my deployments are working fully.
A developer changed one of the Sitecore items language fallback values from 1 to 0 in a standard values item.  The change was deployed to our local, DEV and PROD environments.  I used TDS and sync with sitecore to upload the change  locally, and it was correct and in the sta

[2016-01-14 21:23] pveller commented on #54
Was it set to 0 or "reset"? There is a big difference when it comes to how Sitecore will handle it when installing an update package. This is standard values specific. Normal items are recreated during *.update install. Standard Values, for some reason, are updated field by field.

Look into the serialized item. Do you see the field with 0 and content-length 1 or no field at all (that would be the

[2016-01-20 14:40] mmussitsch commented on #54
Thank you Pavel,

I do recall the value being reset rather than a 0 when looking at my local
sync with sitecore.  However I suspect my developer will come back and say
that he simply "unchecked" the value in sitecore.
If that is the case, perhaps the issue is that the checking and unchecking
of check boxes in that field are not correctly setting the value from 1 to
0 but rather resetting it??  Whi

[2016-01-21 18:55] pveller commented on #54
Checking and unchecking a checkbox should set `1` or `0`. String fields can `reset on empty` if you chose to configure a filed this way (it's a checkbox on the field definition item under the template's section item) but I don't believe checkboxes can reset themselves. One would need to use the `Reset Fields` dialog, I believe. Anyway. If the field was reset then it's neither TDS nor Ship problem.

[2016-01-21 20:32] mmussitsch commented on #54
Thank you.  We will keep watch of these types of issues.
Separately - can someone tell me if Sitecore ship deployments load log
histories in the TEMP > _UpgradeHistory folders?  We stumbled upon this
today when our DEV server space ran out.  If so - I'm wondering if there is
a way to send these to some other drive or location as to avoid space
issues.

Thank you again.
Melissa Mussitsch

On Thu, J

[2016-01-21 21:42] pveller commented on #54
Again, this is not Ship. This is Sitecore. I run scheduled powershell script that keeps it clean (purge everything that's one day+ old). You can also set up an agent in Sitecore configuration (similar to how you can purge log files you don't need) and have that one take care of these for you.

Sent from my iPhone

[2016-01-25 13:51] mmussitsch commented on #54
Thank you Pavel.
Sorry I assumed Ship since that's what I'm using to install.
Appreciate again your response!!  And sorry to be sending you guys novice
questions.

Melissa

On Thu, Jan 21, 2016 at 4:42 PM, Pavel Veller <notifications@github.com>
wrote:

[2016-02-01 05:51] kevinobee opened #55 "Command line build fails if path contains spaces"
Directory paths are not properly quoted, causing the command line build to fail to getnerate a package as shown below

[code]

[2016-02-01 05:53] kevinobee commented on #55
Temporary workaround: Ensure path to repos does not contain spaces.

I'll fix as soon as possible.

[2016-02-29 11:19] AnweshaGD opened #56 "New service endpoint in Sitecoreship"
How do we create a new endpoint in sitecoreship?
My requirement:

I want to post a Sitecore .update package to that new endpoint located in the target instance and get back an anti .update package for the same. How do I proceed with this?

[2016-02-29 12:53] pveller commented on #56
Ship is an HTTP handler that maps to /services. URL (endpoint) resolution is done in code. Classic ASP.NET version checks strings. Nothing fancy. Nancy uses route mapping. To extend Ship you will need to clone the git repo and basically work with the source code. I can give you more recipes but I'm not familiar with the update anti packages. Ship doesn't really read the update package. It uses Sit

[2016-02-29 15:30] AnweshaGD commented on #56
Thanks pveller!!! Will try the solution out...

[2016-04-12 16:17] chiragp commented on #30
@kevinobee when is the 0.4.0 release package slated to drop?  i'm getting this issue on Sitecore 8.1.

[2016-04-12 23:53] pveller commented on #30
You can get it off of the pre-release feed: https://www.myget.org/F/sitecore-ship-prerelease/api/v2/package

The answer to your question is: soon after @kevinobee finds a maintainer to help him out :)

[2016-04-13 06:08] chiragp commented on #30
@pveller @kevinobee Thanks.

[2016-04-19 14:11] mohit511 commented on #52
I am having a similar issue with Sitecore 8.1 (latest update) and Ship v0.4. When I add the handler
<add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="/services/*" /> under <system.webserver><handlers> i get the following exception on GET http://sc81/services/about

[FileLoadException: The given assembly name or codebase was invalid. (Exception from HRESULT: 0x801

[2016-04-19 14:36] pveller commented on #52
@mohit511, did you try using the classic ASP.NET endpoint?

[2016-04-19 16:10] mohit511 commented on #52
Hi @pveller, yes i tried. added handlers `<add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="/services/*" resourceType="Unspecified" />` under `<system.webserver><handlers>` - keeps throwing the exception

[2016-04-19 19:29] pveller commented on #52
I actually meant:

[code]

[2016-04-20 03:20] mohit511 commented on #52
Thank you @pveller. This works.

[2016-04-20 05:34] kevinobee commented on #52
Sorry guys, I missed this email trail as I  have been away travelling.

Thanks @pavel for responding :)

-----Original Message-----
From: "mohit511" <notifications@github.com>
Sent: ‎20/‎04/‎2016 10:20
To: "kevinobee/Sitecore.Ship" <Sitecore.Ship@noreply.github.com>
Cc: "Kevin Obee" <kevin.obee@gmail.com>; "Comment" <comment@noreply.github.com>
Subject: Re: [kevinobee/Sitecore.Ship] Using Sitecore

[2016-05-16 14:59] stevegray12 opened #57 "System.MissingMethodException when trying file upload"
Sitecore version xp 8.1
sitecore ship version 0.3.5

when attempting a post to [servername]/services/package/install/fileupload

I get the following 500 error.

Nancy.RequestExecutionException: Oh noes! ---> System.MissingMethodException: Method not found: 'System.String Sitecore.Update.UpdateHelper.SaveInstallationMessages(System.Collections.Generic.List`1, System.String)'.
   at Sitecore.Ship.In

[2016-05-16 15:26] pveller commented on #57
Take a look at issue #30. The solution is to use `Sitecore.Ship` version 0.4 that you can download off of the alpha MyGet feed: https://www.myget.org/F/sitecore-ship-prerelease/api/v2/package

[2016-05-18 09:44] stevegray12 commented on #57
Thanks, does anybody know when it will become an official release?

[2016-05-18 14:31] pveller commented on #57
I can't tell. @kevinobee had big plans to rewrite with SSC and WebAPI and haven't pushed 0.4 to NuGet.

[2016-05-18 15:06] mmussitsch opened #58 "Sitecore.Ship with Sitecore 8.1 Update 1"
Hi,
So it seems that ever since we upgraded to Sitecore 8.1 Update 1, now our Sitecore.Ship deployment steps fail.  I'm getting the below error.  Any ideas what can be done and will I need to resolve this with each release?  Also wondering what Sitecore Ship uses for installing a .update file.  There were some bugs with sitecore packaging and installation related to language fallback versions so I

[2016-05-18 15:52] pveller commented on #58
First, make sure it's not #30. You would need to run Ship 0.4 that you can grab from the prerelease MyGet feed (the link is in the referenced issue).

If you are running 0.4 that's ready for Sitecore 8 then the next thing to check is what you're running in the post install step. Is it TDS-built package? Did you customize the post-install step (TDS 5.5 supports it) or does it only run the built-in

[2016-05-18 19:19] mmussitsch commented on #58
Hi,

It is a clone from R4.  I had to grab and modify due to the /services url
issue I had previously requiring me to adjust the path to scshipservices
instead.  Truly I'm fairly new to .Net so a Sitecore architect assisted me
with this.
We are running in TDS .update packages and are currently at version 5.5.0.6
of TDS.  We don't really have any other special deployment steps set.  It
truly is jus

[2016-05-18 19:24] mmussitsch commented on #58
I apologize for the lengthy post due to the log errors.  I replied via email with that one and didn't think anything of it.
It's pretty daunting looking at it via the forum.  Sorry!

[2016-05-18 19:33] kevinobee commented on #58
No problem. Will take a look shortly.

FYI: The 0.4.0 pre-release packages from MyGet have been pushed to the NuGet gallery and are now listed.

-----Original Message-----
From: "mmussitsch" <notifications@github.com>
Sent: ‎18/‎05/‎2016 20:24
To: "kevinobee/Sitecore.Ship" <Sitecore.Ship@noreply.github.com>
Subject: Re: [kevinobee/Sitecore.Ship] Sitecore.Ship with Sitecore 8.1 Update1 (#58)

I apo

[2016-05-18 19:39] mmussitsch commented on #58
Thank you.
Again remember, new to .NET, but if I pull any updates I need to clone
again and re-do my /services to /scshipservices changes.  At the time, I
recall we mostly did global search and replaces, so it wasn't bad, but was
any option added to later releases to allow the url to be configurable?
Just wondering.

Thanks,
Melissa

On Wed, May 18, 2016 at 3:33 PM, Kevin Obee <notifications@githu

[2016-05-18 19:42] kevinobee commented on #58
Will try to give the url stem request some more focus asap.

You can get the NuGet gallery packages [here](https://www.nuget.org/packages?q=Sitecore.Ship)

[2016-05-18 19:59] pveller commented on #58
ok. I believe I know what's happening but I can't tell you why just yet. It's not Ship if you get the same error using `updateinstallationwizard.aspx`. Actually, Ship is no magic. Sorry @kevinobee! :) It's a nicely written file upload over HTTP that later calls into the exact same API the update wizard uses. No idea why Sitecore doesn't come bundled with an HTTP API like that. Anyway. Ship does no

[2016-05-18 23:54] kevinobee commented on #58
That thesis sounds perfectly plausible.

I echo your thoughts on....

 "Actually, Ship is no magic. Sorry @kevinobee! :) It's a nicely written file upload over HTTP that later calls into the exact same API the update wizard uses. No idea why Sitecore doesn't come bundled with an HTTP API like that."

In personal time working on an 8.2 SSC (?) based Ship API which will be a branch on this public re

[2016-05-19 16:54] mmussitsch commented on #58
Thanks all, especially Pavel, you were correct.  Sitecore Ship is working
fine.  There were some issues during our Sitecore 8.1 Update 1 and
NetworkService permissions were missing from this PostProcessor.dll file.
Once it was put back, it all works.

Thanks for your help!
Melissa

On Wed, May 18, 2016 at 7:54 PM, Kevin Obee <notifications@github.com>
wrote:

[2016-05-19 17:37] kevinobee commented on #58
@mmussitsch is this issue resolved for you now? I will close it if it is.

Many thanks @pveller - spot on advice.

[2016-05-19 17:52] kevinobee commented on #57
The MyGet 0.4.0 pre-release packages are on the [NuGet gallery](https://www.nuget.org/packages?q=sitecore.ship) now.

Interested to hear if these solve your issue @stevegray12

[2016-05-19 18:27] mmussitsch commented on #58
Yes it is - thank you!

On Thu, May 19, 2016 at 1:37 PM, Kevin Obee <notifications@github.com>
wrote:

[2016-05-19 18:43] pveller commented on #58
@kevinobee, I read that article from Troy Hunt as well. Basically, now you know that you can't be right :) That said, I always liked versions in the URL. As in `/v1/` and `/v2/`. Especially for something like Ship.

That said, your API is not business critical and won't break a running app. The maximum damage it can do is a broken deploy pipeline. An annoying inconvenience when you manage 100s of

[2016-05-20 08:04] stevegray12 commented on #57
@kevinobee. The version we pulled from mygit did solve the issue after we solved some reference issues with ANTLR3. I will pick up the officall release today and update you monday.

[2016-05-23 12:54] stevegray12 commented on #57
@kevinobee  All working many thanks.

[2016-06-28 09:25] millusdk commented on #44
I have the same issue, any news on a fix? /services/about reports: Sitecore.Ship - version 0.4.0.0 as my version.

[2016-06-30 08:18] kevinobee commented on #53
Apologies guys, I'm half way through a one month sabbatical. The merges and bugs will get my undivided attention next week as I have blocked this out for OSS work. Thanks for bearing with me and providing excellent feedback on these issues.

@pveller - I will need to recheck the token auth work that was done as there are changes in this area coming very shortly in the core product ;-)

[2016-06-30 12:26] mmussitsch opened #60 "Have new instance of Sitecore trying to run Sitecore Ship, runtime error"
Hi,

We have a new instance of Sitecore and had pushed our website code which also included the SitecoreShip DLLs and ship.config.  We additionally pushed code for a separate commerce piece.  Trying to get to the http://url/scshipservices (like we always do) is yielding a runtime error.
We do have the latest version of json (i.e. 8.0) -- could this be the problem?  Are there any other configs I ne

[2016-06-30 12:37] pveller commented on #60
You guys must have built your own version to enable `/scshipservices`, correct? Can you please post the stack trace details?

[2016-06-30 12:42] mmussitsch commented on #60
Hi Pavel,
We did build our own.  That was one of my other posts because our web team
wanted to use the /services path.
Please tell me how to get you the stack trace details.  Sorry!

Thanks.
Melissa

On Thu, Jun 30, 2016 at 8:37 AM, Pavel Veller <notifications@github.com>
wrote:

[2016-06-30 12:52] pveller commented on #60
If you don't have detailed errors enabled in your `Web.config` you won't see the YSOD with the stack trace in your browser. Go look at the log files on the server. You will find them in `.\Data\logs`. Is this a CD or a CM instance? do you have access to `/sitecore`? If you don't have access to the file system but can get into the console you can get to the log files via the `File Browser`. Also, i

[2016-06-30 13:41] mmussitsch commented on #60
Okay so it is a CM server.  But I did go to the logs folder and don't see
too much helpful there.
But running showconfig.aspx, I'm not seeing my scshipservices url.  What I
see is below.

<setting name="IgnoreUrlPrefixes" patch:source="ship.config"
value="/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich
Text
Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/a

[2016-06-30 13:47] mmussitsch commented on #60
Okay so I found also a sitecore.config with below:
<setting name="IgnoreUrlPrefixes"
value="/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich
Text
Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content
manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich
Text
Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebReso

[2016-06-30 14:08] pveller commented on #60
Thanks. I believe you found it. No exception stack trace means no error. Sitecore just doesn't let Ship handle the URL but otherwise has no clue what to do with it. The patches apply in alphabetical order but you will only see the name of the first patch file in the resulting configuration. It doesn't accumulate - that's why you see `ship.config` but the change that is active is from `reference.st

[2016-06-30 14:27] mmussitsch commented on #60
Hi Pavel,
Yes it does make sense.  We've had to create some z, files usually with a
name rather than folder, like z_datafolder.config etc.  So it makes sense.
This commerce code is new to me.  So the only question is that there is a
lot in that reference.storefront.config file.  The IgnoreUrls is a small
part and is set differently than ship.config using a "<patch:attribute
name="value">" command.

[2016-06-30 14:31] pveller commented on #60
That will work to. Config patches are applied using the following logic:

1. All files from `App_Config\Include` in alphabetical order without recursing into the sub folder
2. All subfolders from `App_Config\Include` in alphabetical order. For each folder and its subfolders run logic described in `1` recursively.

[2016-06-30 14:55] mmussitsch commented on #60
I just added the scshipservices one to the storefront file.  I ran the
command and it worked great.

Thank you so much for your help Pavel!!

Melissa

On Thu, Jun 30, 2016 at 10:31 AM, Pavel Veller <notifications@github.com>
wrote:

[2016-06-30 14:58] pveller commented on #60
Glad I could help!

[2016-06-30 16:42] kevinobee commented on #60
Thanks Pavel for fielding this one.

I will get these points included in the ship documentation so that things
are a little clearer in the future.

-Kevin

On Thu, Jun 30, 2016 at 3:58 PM, Pavel Veller <notifications@github.com>
wrote:

[2016-07-17 14:10] kevinobee commented on #45
Work on

[2016-07-18 08:42] kevinobee commented on #45
Work being performaed in branch [feature/45_DocumentShipApi](https://github.com/kevinobee/Sitecore.Ship/tree/feature/45_DocumentShipApi)

[2016-07-18 11:45] kevinobee commented on #45
[Merged into develop branch](https://github.com/kevinobee/Sitecore.Ship/commits/develop)

[2016-07-18 11:45] #45 closed

[2016-07-21 22:48] tpratik opened #61 "Sitecore ship blocking media content search"
Hi,

We are using Sitecore.NET 7.1 (rev. 140130) and use Sitecore ship with our CI CD process to do the content deployment.

Sitecore ship does its job well with the deployment but it blocked the Sitecore bucket search functionality and the only solution we have is to remove sitecoreshiphttphandler from the web.config.

Can you suggest a solution with which i can use both Sitecore ship and Sitecor

[2016-07-29 14:39] richardszalay commented on #53
The issue was that BaseHttpHandler continued executing even when the access check failed. I've added a fix + unit tests for this in the referenced PR.

[2016-08-06 13:14] #53 closed

[2016-08-06 13:27] kevinobee commented on #49
Planning to replace existing cUrl tests with a Postman collection as they are simpler to create and maintain in the JSON format with the tooling that [Postman](https://www.getpostman.com/) offers.

Will include a [Newman](https://www.getpostman.com/docs/newman_intro) command line runner so that Postman tests collections are run by the Smoke Test from the command line build.

[2016-08-09 12:44] #54 closed

[2016-08-09 13:02] kevinobee commented on #56
@AnweshaGD I am adding this to the features list being developed for the [SSC](https://sitecore-community.github.io/docs/documentation/Sitecore%20Services%20Layer/index.html) Web API based release of Sitecore.Ship

[2016-08-09 13:05] #58 closed

[2016-08-11 13:52] mmussitsch opened #63 "New sitecore instance - scship File or Directory not found"
Hi,
Me again.
Sorry I seem to have issues every new instance.
ship.config is coming over with the build to the new instance as is the ship DLLs.
Our build server runs the curl command correctly on other sitecore instances but for this one instance it keeps returning with File or directory not found.  Manual upload using updateinstallationwizard.aspx works fine.  The error from the logs of the job

[2016-08-11 16:23] pveller commented on #63
You are using `/scshipservices` so I would assume you customized Ship and built your own version, correct?

Here's what I would check. Go to your instance and look at `/sitecore/admin/showconfig.aspx`. Check the `IgnoreUrlPrefixes` setting. Do you see the Ship URL in there?

[2016-08-11 16:24] pveller commented on #63
I figured you were the one who asked this one before: #60. Can't it be the same thing over again? :)

[2016-08-11 16:31] mmussitsch commented on #63
Hi Pavel,

To answer your first question, Yes, I had to customize ship for the url
difference.

And also yes, I do see this in showconfig:
<setting name="IgnoreUrlPrefixes"
value="/scshipservices/|/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich
Text
Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content
manager/telerik.web.ui.dialoghandler.as

[2016-08-18 15:13] mmussitsch commented on #63
Sorry guys.  I still don't have resolution for this.
Any ideas why it can't find my scshipservices url even though it's in the
config?

Thanks,
Melissa

On Thu, Aug 11, 2016 at 12:30 PM, Melissa Mussitsch <
melissa.mussitsch@ansys.com> wrote:

[2016-08-18 16:05] DonahueMJ opened #64 "Sitecore version comparability"
Can compatible Sitecore versions be listed on the project page to ensure success when using with Sitecore 7+.
Sitecore 8.1 is the current version and Sitecore 8.2 is on the near horizon; it is unclear if it is compatible prior to implementing 1st hand and testing.

[2016-08-18 20:49] mmussitsch commented on #63
Figured it out.

Sorry!  Realized it after reviewing your documentation again that:

   -

   Register a single new HTTP handler section in <system.webserver>.
   Support for classic mode in IIS has been removed.

I didn't have the handler in my web.config.
This carried over from other tasks in my other sites but since this was
new, didn't have it.

Thanks.
Melissa

On Thu, Aug 18, 2016 at 11:12 A

[2016-08-19 08:24] kevinobee commented on #63
Glad you got the issue figured out @mmussitsch .

[2016-08-19 08:24] #63 closed, assigned to nobody

[2016-12-27 07:26] SC-MNAS opened #66 "Sitecore.Ship does not work with Sitecore 8.2 Update 1 for Azure Deployment"
None of the items gets deployed to Sitecore.
The log below is quiet misleading as looking at this the package should have been installed but actually not.

Sitecore.Ship throws exception here:
var installationInfo = GetInstallationInfo(packagePath);
entries = UpdateHelper.Install(installationInfo, logger, out historyPath); ,<-- silently fails i.e .doesn't return any error and doesn't install packa

[2016-12-27 07:45] kevinobee commented on #66
Thanks for the heads up, will address. Black mark for Sitecore SemVer policy adherence ;-)

[2016-12-27 07:53] SC-MNAS commented on #66
For fixing this issue in Sitecore.Ship, possible workaround could be:

Modify 'Sitecore.Ship.Infrastructure.Update.UpdatePackageRunner' class in Sitecore.Ship.Infrastructure project by replacing

entries = UpdateHelper.Install(installationInfo, logger, out historyPath);

with

using (new SecurityDisabler())
                    {
                        bool flag;
                        DiffInstal

[2016-12-27 07:55] kevinobee commented on #66
Fancy submitting a pull request?
Thanks for the insight, much appreciated.

On 27 Dec 2016 14:53, "Muhammad Naeem Ashraf" <notifications@github.com>
wrote:

[2016-12-27 08:00] SC-MNAS opened #67 "Sitecore.Ship failed to deploy Sitecore package when Sitecore tempFolder path is static"
When user sets the tempFolder value to a static path e.g.
 <setting name="tempFolder" value="d:\local\temp"/>
package deployment fails with exception 'Value cannot be null'

It works fine with dynamic tempFolder path :)

HttpContext.Current.Server.MapPath(Sitecore.IO.TempFolder.GetFilename(Guid.NewGuid() + ".update")); line throws the exception in Sitecore.Ship.Infrastructure.Web.ServerTempFile cl

[2017-01-04 11:17] craigagnew opened #68 "File Upload seems to work but throws error on SaveInstallationMessages"
Hello,

We have automated builds running through Jenkins/Powershell to deploy Sitecore regularly. Everything seems to work fine, however we've noticed during the step to deploy the *.update packages an error occurs, but the items seem to have been created/updated on the server.

The process involves deployment of 3 *.update files. The first seems to deploy without issue, while the other two deploy

[2017-01-04 21:03] dharnitski commented on #66
Pull request submitted - https://github.com/kevinobee/Sitecore.Ship/pull/69

Please let me know if I can do anything else.

[2017-02-08 19:46] jbrownsp opened #70 "Ship seems to silently fail on Sitecore 8.2 Update 2"
Using latest version of Ship from nuget and just upgraded an 8.1 update 2 instance to 8.2 update 2 and while Ship still appears to respond to me posting updates it doesn't actually seem to install the update packages.

The response is the normal json response showing all the ids, items and files, but nothing is ever extracted. There's no errors in any logs either.

I manually installed the update

[2017-02-14 10:38] prabhatsingh2011 opened #71 "[TypeLoadException]: Method FormatValueForIndexStorage in type Coveo.Framework.Conversion.CoveoIndexField StorageValueFormatter from assembly Coveo.Framework does not have an implementation"
Hi ,

I am getting below error. Please help

[TypeLoadException]: Method FormatValueForIndexStorage in type Coveo.Framework.Conversion.CoveoIndexField
StorageValueFormatter from assembly Coveo.Framework does not have an implementation.
   at System.RuntimeTypeHandle.GetDeclaringType(RuntimeType type)
   at System.RuntimeType.RuntimeTypeCache.GetEnclosingType()
   at Nancy.TinyIoc.TinyIoCContainer.

[2017-02-15 14:03] prabhatsingh2011 commented on #71
Aah , i started using Sitecore.Ship.AspNet which is nancy independent and now able to install the package properly.

[2017-03-15 12:36] vince-geekcore commented on #70
I also have the exact same issue on 8.2-2 on Webapps if i can supply any useful information please let me know.

[2017-03-17 15:20] colema18 commented on #70
Thanks for posting @jbrownsp - I am experiencing the same behavior but since this is my first time using Sitecore.Ship, so I have been spinning my wheels, thinking it was something I was doing wrong. Now I will just Subscribe to this issue and wait.

[2017-04-12 21:39] marcelgruber commented on #70
@Mine also appears to be silently failing. I'm using Sitecore 8.2 rev. 161115.

When I hit the URL to update Core, this is what I get back:

`
{"Entries":[{"ID":"0de95ae4-41ab-4d01-9eb0-67441b7c2450","Path":"addeditems/core/sitecore/content"},{"ID":"c74ac643-53c8-4f1e-9508-840cdc72aaca","Path":"addeditems/core/sitecore/content/applications"},{"ID":"3f03238b-f1e9-4987-870b-c623e18f844d","Path":"add

[2017-05-04 20:06] nickwesselman commented on #70
Experienced the same behavior, was able to workaround it by doing a custom build against this PR:
https://github.com/kevinobee/Sitecore.Ship/pull/69

[2017-05-12 13:21] csteeg commented on #66
@kevinobee could you please merge this and update the nuget package?

[2017-05-15 10:46] aravindansuyambu opened #72 "Ship ignores changes to checkbox when unchecked in Standard Values."
When a checkbox is unchecked, Sitecore serializes the field with properties "content-length: 0" and no-value. Ship ignores this field while installation. To check whether its a product issue, we used the "Serialize tree" and "Revert tree" option in Sitecore where it worked fine.

So, its only Ship which ignores the field but Sitecore accounts it and makes the changes properly.

[2017-05-15 14:15] pveller commented on #72
It's not Ship, unfortunately. It would be easier if it was. It's how Sitecore `Update` processes `__Standard Values`. I have once answered a very similar question: https://github.com/kevinobee/Sitecore.Ship/issues/54. Back then I looked through the decompiled `Sitecore.Update` and it indeed has a special logic for `__Standard Values`. I am sure it's needed but it has a side effect of not detecting

[2017-05-16 22:01] dharnitski commented on #68
This pull request should help - https://github.com/kevinobee/Sitecore.Ship/pull/69

[2017-05-17 22:26] naveed-ahmad-biz commented on #66
@kevinobee I did the above changes and it worked for me 8.2 update 3

[2017-05-30 11:40] hanyliounnasr opened #73 "/services/publish/listofitems PublishChildren & PublishRelatedItems are not working as expected"
Publish/listofitems service is not supporting to control PublishChildren & PublishRelatedItems through JSON.

{
    "Items": [
                {
                    "ItemId" : "{E9CE4381-E737-495D-BD45-C83688C48A34}",
                    "**PublishChildren**": "true",
                    "**PublishRelatedItems**": "false"
                },
                {
                    "ItemId" : "{EB2E4F

[2017-06-26 17:06] alexshyba commented on #66
I had a different problem with the Marketplace deployment.
Getting this error during the install:

[code]

To work around, patched the `dataFolder` variable:
[code]

[2017-08-08 09:32] steve-crabb commented on #70
Also had this issue on Sitecore 8.2 Update 2. A custom build against PR #69 fixed the issue for us.

[2017-08-18 19:25] Prashantkp opened #76 "Ship returning 404 when trying to install update package"
Ship returning 404 when trying to install update package.
Here is the script i'm trying for.
`Invoke-WebRequest -Uri "http://mydomain/services/package/install" -Method Post -ContentType "application/x-www-form-urlencoded" -Body @{"path"="@D:\Users\Parsh\Desktop\test.update";"DisableIndexing"=$true} -UseBasicParsing -TimeoutSec 5000`

**And i'm getting below error.**
`

        404 - NotFound

[2017-10-17 11:03] emailaveeral opened #77 "Sitecore ship throwing bad request error while deploying using vsts"
Hi,

I am using Sitecore8.2 update 5 and try to deploy using VSTS 2017. The release is failing at Sitecore Ship task with the bad request error. Please find the logs below

2017-10-17T10:52:06.1503328Z ##[section]Starting: Sitecore Ship
2017-10-17T10:52:06.1503328Z ==============================================================================
2017-10-17T10:52:06.1503328Z Task         : Sitecore Sh

[2017-10-18 08:13] emailaveeral commented on #77
@kevinobee : Could you please look into this?

[2017-12-22 09:55] matthiasduyck opened #78 "Sitecore ship throws MissingMethodException on SC9"
Hi

When trying to use Sitecore ship to install packages on a Sitecore 9 installation I'm getting the following error:
Method not found: 'Void Sitecore.Update.Installer.XmlEntrySerializer.Serialize(System.Collections.Generic.List`1<Sitecore.Update.Installer.ContingencyEntry>, System.IO.Stream)'.

I'm guessing they changed something in 9 that breaks functionality. Any ideas?

Thanks

[2018-01-08 08:43] afengisme opened #79 "Missing "Media" field value of image items after smart publishing"
Hello,
We use Sitecore 8.2 rev. 161221 with sitecore.ship installed for CI deployment and publishing, we meet a curious issue as followings:

Our site has only one language version for all items including Media Library items, that is "en-US", after installing the *.update packages in the instance by http://***/services/package/install/fileupload in CI process, then calling  http://***/services/pub

[2018-01-08 12:38] pveller commented on #79
You will find the answer to your question is you look at the source code of the `publish` command. Here:
https://github.com/kevinobee/Sitecore.Ship/blob/develop/src/Sitecore.Ship.AspNet/Publish/InvokePublishingCommand.cs#L93

The name of the parameter is `languages` and it defaults to `en` if it can't find anything.

[2018-01-09 07:48] afengisme commented on #79
Thanks @pveller for your replying,

I tried to do the publishing as below for "en-US" using "targets" and "languages"
.\curl.exe --show-error --silent --connect-timeout 300 --max-time 9000 --form 'source=master' --form  'targets=web' --form 'languages=en-US' http://xxxxx/services/publish/smart

Seems it never starts the publishing, I did not find any sitecore publishing logs brought by above comma

[2018-05-16 06:40] Manohar-ARM commented on #2
It would be nice to have the smart publish method to return the list of items published along with the publish date , this would be very helpful  while using Sitecore Ship smart publish as a post deployment step in out CI environment

[2018-05-30 10:32] whuu commented on #78
It works if you build the sources from this branch: https://github.com/dharnitski/Sitecore.Ship/tree/feature/sitecore82 with dlls from Sitecore 9.
You will have to comment out `Sitecore.Configuration.Settings.Indexing.Enabled` as it's deprecated and the build fails with it. Also change target framework for ship projects to 4.6.2

[2018-05-30 21:41] Manohar-ARM commented on #2
@kevinobee ,Thanks for accepting my feature request and working on it , Wanted to know if this request is scheduled for release anytime soon ?

[2018-06-06 13:18] Amarapathi commented on #78
I have downloaded the branch(sitecore82) and with sitecore 9 dlls(Sitecore.Client.dll
* Sitecore.Kernel.dll
* Sitecore.Logging.dll
* Sitecore.Update.dll
* Sitecore.Zip.dll
* System.Web.Helpers.dll). The solution is not compiling because of the sitecore 9 dlls built using the .net framework 4.6.2 and ship built .net framework 4.5.2 .

Any idea sitecore ship supporting the sitecore 9 version?

[2018-06-06 15:19] whuu commented on #78
You should change target framework to 4.6.2 in Sitecore.Ship projects too

[2018-06-08 07:58] Amarapathi commented on #78
Thanks working now.
I am uploading .update file from vsts tool(Sitecore ship Deploy Task) to Azure PaaS. I am getting the server timeout error after few mins. But ship updating the sitecore items in azure PaaS.
Any idea how to resolve the timeout issue.(I tried to increase the timeout but no help)
Error:
##[error]System.Net.Http.HttpRequestException: Status code InternalServerError. Reason . Serve

[2018-06-27 02:41] prabhatsingh2011 commented on #78
@Amarapathi  - i was also getting the same error and could not resolve this. Finally i had to switch to TDS package deployer module.

[2018-06-27 09:16] Amarapathi commented on #78
@prabhatsingh2011  Could you please provide me the reference link which you have refered for the TDS package deployer.

[2018-06-28 15:24] prabhatsingh2011 commented on #78
@Amarapathi  - here it is. I have used Octopus and VSTS. if required i can share my step templates(powershell scripts) for you to use.

https://www.teamdevelopmentforsitecore.com/Blog/sitecore-package-deployer

[2018-07-02 04:54] Amarapathi commented on #78
@prabhatsingh2011 Yes please share the steps which you used.

Thanks,
Amarapathi.

[2019-03-13 20:43] jjczopek opened #81 "Files from update package not installed"
Sitecore 8.2 161221
Sitecore.Ship 0.4.0.150818

Currently we are using TDS .update package to deploy code to servers. TDS is producing the *.files.update. We are using in-house deployment approach with custom controller and action doing it.

We would like to move to Sitecore.Ship, however seems like package is processed (no errors in the logs), JSON with processed entries is being returned, but th

[2019-03-14 09:36] jjczopek commented on #81
This can be closed, duplicate of #70 and PR #69 fix it for us.

[2019-03-14 09:36] #81 closed, assigned to nobody

[2019-03-21 12:38] kumar-vika commented on #78
@prabhatsingh2011 Can you please share the steps. I have to use same one with Octopus and Teamcity.

Thanks,
Vikas Kumar

[2020-09-09 08:33] aniruddhask opened #83 "Sitecore.Ship access denied: packageInstallation whitelist is denying access to <IP>"
We are currently facing a issue with Azure devOps deployment pipeline in installing the sitecore packages since Sep 1, 2020, earlier it was working smooth.

Build Server (Azure VM) is already whitelisted under sitecore configurations

Looking into the sitecore logs it is asking to whitelist the local browser (client ip) address.

Also when we are trying to access **https://{enviroment-url}//servic

[2020-09-09 09:21] aniruddhask commented on #83
We are using Sitecore v 9.0.1 and Sitecore.Ship 1.0.0.0

[2021-04-20 05:30] kevinobee opened #86 "Missing Sytem.Web.Helpers reference"
Steps to reproduce issue:

* run `.\build.cmd` from a console with access to `msbuild.exe`

Expected results:

* `build.cmd` completes with exit code 0
*. no compilation, build or package errors

Actual results:

* 5 Error(s) reported in `build.cmd` console output

Example build error output:

[code]

[2021-04-20 05:31] #86 closed, assigned to kevinobee

[2021-04-20 05:47] kevinobee opened #87 "NuGet Package warnings reported in command line build"
The command line build reports _6 warnings_ associated with creating the two NuGet package artefacts for Sitecore.Ship

The NuGet warnings issued are:

* NU5125: The 'licenseUrl' element will be deprecated
* NU5128: Some target frameworks declared in the dependencies group of the nuspec and the lib/ref folder do not have exact matches in the other location
* NU5048: The 'PackageIconUrl'/'iconUrl'

[2021-04-20 06:30] #87 closed, assigned to kevinobee